{% extends 'dashboard/base.html' %}
{% load staticfiles %}
{% block body %}
<body>
  <section id="container">
{% include 'dashboard/header.html' %}
{% include 'dashboard/sidebar.html' %}

    <section id="main-content">
      <section class="wrapper">

<div class="row">
            <div class="col-md-12">
            <div class="content-panel table-responsive">
              <table class="table table-striped table-advance table-hover">
                <h4>  MY ITEMS <span id='loading' style='display:none; color:green' >Loading...</span> </h4>
                     <hr>

                <thead>
                  <tr>
                    <th>CATRGORY</th>

                  </tr>
                </thead>{% csrf_token %}
                <tbody id="tablebody">
                {% for i in category %}
                  <tr class="post{{i.pk}}" name=''>
                    <td>
                      <a id="category{{i.pk}}" onclick='subCategoryDetails("{{i.name}}", "{{i.id}}")' data-toggle="collapse" data-target="#demo{{i.id}}" style='cursor:pointer'>{{i.name}} <span style='float:right;' id='totalcategory{{i.id}}'>{{i.total_count}}</span></a>
                        <!--<button data-toggle="collapse" data-target="#demo">Collapsible</button>-->

                        <div id="demo{{i.id}}" class="collapse">

                            <div class='row'>
                                <div class='col-md-6 md-offset-3' style='margin-left:30px;'>
                                    <hr>
                                    <h6><b>Sub Category</b></h6>
                                 {% for a in subcategory %}

                            {% if a.mycategory == i %}
                            <a data-toggle="collapse" data-target="#demo1{{a.id}}{{i.id}}" style='cursor:pointer' onclick='sexDetails("{{i.name}}", "{{a.name}}", "{{i.id}}", "{{a.id}}")' >{{a}} <span style='float:right;' id='{{a.id}}'>{{a.total_count}}</span></a><br><br>

                            {% endif %}
                                <div id="demo1{{a.id}}{{i.id}}" class="collapse" style='margin-left:30px;'>
                                <h6 style='color:green'><b>Select Sex</b></h6>
                                <p style='color:green;cursor:pointer'> <a data-toggle="collapse" data-target="#sizem{{a.id}}{{i.id}}"> Male</a> <span style='float:right;' id="sexm{{i.id}}{{a.id}}"></span> </p>

                                <p style='color:green;cursor:pointer'><a data-toggle="collapse" data-target="#sizef{{a.id}}{{i.id}}"> Female</a> <span style='float:right;' id="sexf{{i.id}}{{a.id}}"></span> </p>
                                <p style='color:green;cursor:pointer'><a data-toggle="collapse" data-target="#sizeu{{a.id}}{{i.id}}"> Unisex</a> <span style='float:right;' id="sexu{{i.id}}{{a.id}}"></span> </p>
                                <p style='color:green;cursor:pointer'><a data-toggle="collapse" data-target="#sizek{{a.id}}{{i.id}}"> Kids</a> <span style='float:right;' id="sexk{{i.id}}{{a.id}}"></span> </p>
                                    <!--Male div-->
                                    <div id="sizem{{a.id}}{{i.id}}" class="collapse" style='margin-left:60px;'>
                                        <h6><b>Select Size For Male</b></h6>
<div class="table-responsive">
<table class="table table-borderless">
<thead>
<tr><th>Size</th>
<!--<th>item(s)</th>-->
<th>Add</th>
</tr>
</thead>
<tbody>
<tr>
<td>S</td>
<!--<td id='sm{{i.id}}{{a.id}}'>0</td>-->
<td><a href="{% url 'dashboard:filter_items' i.id a.id 'Male' 'S' %}"> <button class='btn btn-sm btn-success'>View</button></a> </td>
</tr>
<tr>
<td>M</td>
<!--<td id='mm{{i.id}}{{a.id}}'>0</td>-->
<td><a href="{% url 'dashboard:filter_items' i.id a.id 'Male' 'M' %}"> <button class='btn btn-sm btn-success'>View</button></a> </td>
</tr>

<tr>
<td>L</td>
<!--<td id='lm{{i.id}}{{a.id}}'>0</td>-->
<td><a href="{% url 'dashboard:filter_items' i.id a.id 'Male' 'L' %}"> <button class='btn btn-sm btn-success'>View</button></a> </td>
</tr>

<tr>
<td>XL</td>
<!--<td id='xlm{{i.id}}{{a.id}}'>0</td>-->
<td><a href="{% url 'dashboard:filter_items' i.id a.id 'Male' 'XL' %}"> <button class='btn btn-sm btn-success'>View</button></a> </td>
</tr>

<tr>
<td>2XL</td>
<!--<td id='xl2m{{i.id}}{{a.id}}'>0</td>-->
<td><a href="{% url 'dashboard:filter_items' i.id a.id 'Male' '2XL' %}"> <button class='btn btn-sm btn-success'>View</button></a> </td>
</tr>

<tr>
<td>3XL</td>
<!--<td id='xl3m{{i.id}}{{a.id}}'>0</td>-->
<td><a href="{% url 'dashboard:filter_items' i.id a.id 'Male' '3XL' %}"> <button class='btn btn-sm btn-success'>View</button></a> </td>
</tr>

<tr>
<td>4XL</td>
<!--<td id='xl4m{{i.id}}{{a.id}}'>0</td>-->
<td><a href="{% url 'dashboard:filter_items' i.id a.id 'Male' '4XL' %}"> <button class='btn btn-sm btn-success'>View</button></a> </td>
</tr>

</tbody>
</table>
</div>
</div>
<!--end male div-->


<!--female div-->
<div id="sizef{{a.id}}{{i.id}}" class="collapse" style='margin-left:60px;'>
<h6><b>Details For Female</h6>
<div class="table-responsive">
<table class="table table-borderless">
<thead>
<tr>
<th>Size</th>
<th>Add</th>
</tr>
</thead>
<tbody>

<tr>
<td>S</td>
<td> <a href="{% url 'dashboard:filter_items' i.id a.id 'Female' 'S' %}"><button class='btn btn-sm btn-success'>View</button> </a></td>
</tr>

<tr>
<td>M</td>
<td>
<a href="{% url 'dashboard:filter_items' i.id a.id 'Female' 'M' %}"><button class='btn btn-sm btn-success'>View</button> </a>
</td>
</tr>

<tr>
<td>L</td>
<td>
<a href="{% url 'dashboard:filter_items' i.id a.id 'Female' 'L' %}"><button class='btn btn-sm btn-success'>View</button> </a>
</td>
</tr>

<tr>
<td>XL</td>
<td>
<a href="{% url 'dashboard:filter_items' i.id a.id 'Female' 'XL' %}"><button class='btn btn-sm btn-success'>View</button> </a>
</td>
</tr>

<td>2XL</td>
<td>
<a href="{% url 'dashboard:filter_items' i.id a.id 'Female' '2XL' %}"><button class='btn btn-sm btn-success'>View</button> </a>
</td>
</tr>

<td>3XL</td>
<td>
<a href="{% url 'dashboard:filter_items' i.id a.id 'Female' '3XL' %}"><button class='btn btn-sm btn-success'>View</button> </a>
</td>
</tr>
<td>4XL</td>
<td>
<a href="{% url 'dashboard:filter_items' i.id a.id 'Female' '4XL' %}"><button class='btn btn-sm btn-success'>View</button> </a>
</td>
</tr>

</tbody>
</table>
</div>
</div>
<!--endfemale div-->


<!--unisex div-->
<div id="sizeu{{a.id}}{{i.id}}" class="collapse" style='margin-left:60px;'>
<h6><b>Details For Unisex</h6>
<div class="table-responsive">
<table class="table table-borderless">
<thead>
<tr>
<th>Size</th>
<th>item(s)</th>
<th>Add</th>
</tr>
</thead>
<tbody>
<tr>
<td>S</td>
<!--<td id='sf{{i.id}}{{a.id}}'>0</td>-->
<td>
<a href="{% url 'dashboard:filter_items' i.id a.id 'Unisex' 'S' %}"><button class='btn btn-sm btn-success'>View</button> </a>
</td>
</tr>
<tr>
<td>M</td>
<!--<td id='mf{{i.id}}{{a.id}}'>0</td>-->
<td>
<a href="{% url 'dashboard:filter_items' i.id a.id 'Unisex' 'M' %}"><button class='btn btn-sm btn-success'>View</button> </a>
</td>
</tr>

<tr>
<td>L</td>
<!--<td id='lf{{i.id}}{{a.id}}'>0</td>-->
<td><a href="{% url 'dashboard:filter_items' i.id a.id 'Unisex' 'L' %}"><button class='btn btn-sm btn-success'>View</button> </a>

</td>
</tr>
<tr>
<td>XL</td>
<!--<td id='xlf{{i.id}}{{a.id}}'>0</td>-->
<td>
<a href="{% url 'dashboard:filter_items' i.id a.id 'Unisex' 'XL' %}"><button class='btn btn-sm btn-success'>View</button> </a>
</td>
</tr>
<td>2XL</td>
<!--<td id='xl2f{{i.id}}{{a.id}}'>0</td>-->
<td>
<a href="{% url 'dashboard:filter_items' i.id a.id 'Unisex' '2XL' %}"><button class='btn btn-sm btn-success'>View</button> </a>
</td>
</tr>
<td>3XL</td>
<!--<td id='xl3f{{i.id}}{{a.id}}'>0</td>-->
<td>
<a href="{% url 'dashboard:filter_items' i.id a.id 'Unisex' '3XL' %}"><button class='btn btn-sm btn-success'>View</button> </a>
</td>
</tr>
<td>4XL</td>
<!--<td id='xl4f{{i.id}}{{a.id}}'>0</td>-->
<td>
<a href="{% url 'dashboard:filter_items' i.id a.id 'Unisex' '4XL' %}"><button class='btn btn-sm btn-success'>View</button> </a>
</td>
</tr>

</tbody>
</table>
</div>
</div>
<!--endunisex div-->


<!--kids div-->
<div id="sizek{{a.id}}{{i.id}}" class="collapse" style='margin-left:60px;'>
<h6><b>Details For Kids</h6>
<div class="table-responsive">
<table class="table table-borderless">
<thead>
<tr>
<th>Size</th>
<th>item(s)</th>
<th>Add</th>
</tr>
</thead>
<tbody>
<tr>
<td>S</td>
<!--<td id='sf{{i.id}}{{a.id}}'>0</td>-->
<td>
<a href="{% url 'dashboard:filter_items' i.id a.id 'Kids' 'S' %}"><button class='btn btn-sm btn-success'>View</button> </a>
</td>
</tr>
<tr>
<td>M</td>
<!--<td id='mf{{i.id}}{{a.id}}'>0</td>-->
<td>
<a href="{% url 'dashboard:filter_items' i.id a.id 'Kids' 'M' %}"><button class='btn btn-sm btn-success'>View</button> </a>
</td>
</tr>

<tr>
<td>L</td>
<!--<td id='lf{{i.id}}{{a.id}}'>0</td>-->
<td>
<a href="{% url 'dashboard:filter_items' i.id a.id 'Kids' 'L' %}"><button class='btn btn-sm btn-success'>View</button> </a>
</td>
</tr>
<tr>
<td>XL</td>
<!--<td id='xlf{{i.id}}{{a.id}}'>0</td>-->
<td>
<a href="{% url 'dashboard:filter_items' i.id a.id 'Kids' 'XL' %}"><button class='btn btn-sm btn-success'>View</button> </a>
</td>
</tr>
<td>2XL</td>
<!--<td id='xl2f{{i.id}}{{a.id}}'>0</td>-->
<td>
<a href="{% url 'dashboard:filter_items' i.id a.id 'Kids' '2XL' %}"><button class='btn btn-sm btn-success'>View</button> </a>
</td>
</tr>
<td>3XL</td>
<!--<td id='xl3f{{i.id}}{{a.id}}'>0</td>-->
<td>
<a href="{% url 'dashboard:filter_items' i.id a.id 'Kids' '3XL' %}"><button class='btn btn-sm btn-success'>View</button> </a>
</td>
</tr>
<td>4XL</td>
<!--<td id='xl4f{{i.id}}{{a.id}}'>0</td>-->
<td>
<a href="{% url 'dashboard:filter_items' i.id a.id 'Kids' '4XL' %}"><button class='btn btn-sm btn-success'>View</button> </a>
</td>
</tr>

</tbody>
</table>
</div>
</div>
<!--endkids div-->


</div>
                              {% endfor %}

                              </div>
                              </div>


                        </div>
                    </td>

                  </tr>

                {% endfor %}
                </tbody>
              </table>
              <!--<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal2">Add Item</button>-->

            </div>
            <!-- /content-panel -->
          </div>
          <!-- /col-md-12 -->
</div>
<!-- end of row -->




            <!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog full-screen">
    <div class="modal-content">
   <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Myitem Details</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <!-- Modal body -->
      <div class="modal-body">


<div class="container-fluid">
  <div class="row">

  <div class="col-md-12">


<form> {% csrf_token %}
<center><h3 id="edititemscategory"></h3></center>
  <div class="form-group">
  <label for="editavail">Goods available</label>
  <input type="text" class="form-control" name="" id="editavail">
  </div>



</form>



  </div>

  </div>
</div>

      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary editsubmitbutton" data-dismiss="modal" onclick="editMyItems(this.id)" id="">Submit</button>
      </div>

    </div>
  </div>
</div> <!-- end of modal -->




            <!-- The Modal -->
<div class="modal" id="myModal2">
  <div class="modal-dialog full-screen">
    <div class="modal-content">
   <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Add Item</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <!-- Modal body -->
      <div class="modal-body">


<div class="container-fluid">
  <div class="row">

  <div class="col-md-12">


<form>


<div class="form-group">
<label for="select_class">Category:</label>
<select class="form-control" id="add_select_category">
{% for i in category %}
<option>{{i.name}}</option>
{% endfor %}
</select>
</div>

<div class="form-group">
<label for="select_class">SubCategory:</label>
<select class="form-control" id="add_sub_category">
{% for i in subcategory %}
<option>{{i.name}}</option>
{% endfor %}
</select>
</div>



  <div class="form-group">
  <label for="description">Sex</label>
  <!--<input type="text" class="form-control" name="" id="additemdescription">-->

  <select class="form-control" id="additemdescription">
    <option>M</option>
    <option>F</option>

  </select>
  </div>

 <div class="form-group">
  <label for="description">Size</label>
  <!--<input type="text" class="form-control" name="" id="additemdescription">-->

  <select class="form-control" id="additemsize">
    <option>S</option>
    <option>M</option>
    <option>L</option>
    <option>XL</option>
    <option>2XL</option>
    <option>3XL</option>
    <option>4XL</option>


  </select>
  </div>

<!--<div class="form-group">-->
<!--<label for="size">Size</label>-->
<!--<input type="text" class="form-control" name="" id="additemsize">-->
<!--</div>-->

  <div class="form-group">
  <label for="price">Price</label>
  <input type="text" class="form-control" name="" value=1000 id="additemprice">
  </div>

  <div class="form-group">
  <label for="available">Stock available</label>
  <input type="text" class="form-control" name="" value=0 id="additemavailable">
  </div>

</form>



  </div>

  </div>
</div>

      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" id="submititem" onclick="addItems()">Submit</button>

      </div>

    </div>
  </div>
</div> <!-- end of modal -->





            <!-- The Modal -->
<div class="modal" id="myModal3">
  <div class="modal-dialog full-screen">
    <div class="modal-content">
   <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Add Item</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <!-- Modal body -->
      <div class="modal-body">


<div class="container-fluid">
  <div class="row">

  <div class="col-md-12">


<form>
  <div class="form-group">
  <label for="available">Stock available</label>
  <input type="text" class="form-control" name="" id="editstock">
  <p id='editcategoryid' style='display:none'></p>
  <p id='editsubcategoryid' style='display:none'></p>
  <p id='editsex' style='display:none'></p>
  <p id='editsize' style='display:none'></p>


  </div>

</form>



  </div>

  </div>
</div>

      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" id="submititem" onclick="editMyItems1()">Submit</button>

      </div>

    </div>
  </div>
</div> <!-- end of modal -->







      </section>
    </section>
    <!--main content end-->

  </section>
  <!-- js placed at the end of the document so the pages load faster -->





<script>



list1 = []
categorylist = []
subcategorylist = []


{% for i in totalitems %}
dict1 = {'category':'{{i.category}}', 'subcategory': '{{i.subcategory}}', 'sex': '{{i.sex}}', 'size':'{{i.size}}', 'price':'{{i.price}}', 'stock':'{{i.stock}}', 'id':'{{i.id}}', 'subcategoryid':'{{i.subcategory.id}}'}
list1.push(dict1)
{% endfor %}

{% for i in category %}
dict2 = {'category':'{{i.name}}', 'categoryid':'{{i.id}}'}
categorylist.push(dict2)
{% endfor %}

{% for i in subcategory %}
dict3 = {'category':'{{i.mycategory.name}}', 'categoryid':'{{i.mycategory.id}}', 'subcategory':'{{i.name}}', 'subcategoryid':'{{i.id}}'}
subcategorylist.push(dict3)
{% endfor %}


for (i=0;i<categorylist.length;i++){
    for (a=0; a<list1.length; a++){
        if(categorylist[i].category == list1[a].category ){
            amount = Number(list1[i].stock)
        }

    }
}


function subCategoryDetails(category, categoryid){
        subcategorylist1 = []
        for(a=0; a<subcategorylist.length; a++){
            if (subcategorylist[a].category == category){
                //if(list1[i].category == category){
                    dict = {'category':subcategorylist[a].category, 'subcategory':subcategorylist[a].subcategory}
                   subcategorylist1.push(dict)


            }//endif

        } //endfor

            newlist = []
            newlist2 = []
        for(i=0;i<list1.length;i++){


            dict11 = {'category':list1[i].category, 'subcategory':list1[i].subcategory}
            list2 = [dict11]
            for(a=0; a<subcategorylist1.length; a++){

            if (list1[i].subcategory == subcategorylist1[a].subcategory ){

            }

            }

        }

}

function AddItems1(category, categoryid, subcategory, subcategoryid, size, sex ){

    "{{i.name}}", "{{a.name}}", "F", "{{i.id}}{{a.id}}"
    qs = "#"+size+sex + categoryid + subcategoryid
    qs = document.querySelector(qs).innerHTML
    document.querySelector('#editcategoryid').innerHTML = categoryid
    document.querySelector('#editsubcategoryid').innerHTML = subcategoryid
    document.querySelector('#editsex').innerHTML = sex
    document.querySelector('#editsize').innerHTML = size
    qs1 = document.querySelector('#editstock').value = qs

}

function sexDetails(category, subcategory, categoryid, subcategoryid){
    Male = 0
    Female = 0
    Unisex = 0
    Kids = 0
    console.log('clicked')
    for(i=0;i<list1.length;i++){

        if(list1[i].subcategory == subcategory){

            if (list1[i].sex == 'Male'){
                // console.log('yeah male')
               Male = Male + Number(list1[i].stock)
               data = '#sexm' + categoryid + subcategoryid
            //   document.querySelector(data).innerHTML = Male
            }

            if (list1[i].sex == 'Female'){

               Female = Female + Number(list1[i].stock)
               data = '#sexf' + categoryid + subcategoryid
            //   document.querySelector(data).innerHTML = Female
            }
            if (list1[i].sex == 'Unisex'){

               Unisex = Unisex + Number(list1[i].stock)
               data = '#sexu' + categoryid + subcategoryid
            //   document.querySelector(data).innerHTML = Unisex
            }
            if (list1[i].sex == 'Kids'){

               Kids = Kids + Number(list1[i].stock)
               data = '#sexk' + categoryid + subcategoryid
            //   document.querySelector(data).innerHTML = Kids
            }


         }
    }
    console.log(Female)



}

function categoryChange(category, subcategory, sex, id){
    for(i=0;i<list1.length;i++){
        category1 = list1[i].category
        subcategory1 = list1[i].subcategory
        sex1 = list1[i].sex
        size1 = list1[i].size
        stock = list1[i].stock
        id1 = list1[i].id
        sf = "#sf"+id
        mf = "#mf"+id
        lf = "#lf"+id
        xlf = "#xlf"+id
        xl2f = "#xl2f"+id
        xl3f = "#xl3f"+id
        xl4f = "#xl4f"+id



        sm = "#sm"+id
        mm = "#mm"+id
        lm = "#lm"+id
        xlm = "#xlm"+id
        xl2m = "#xl2m"+id
        xl3m = "#xl3m"+id
        xl4m = "#xl4m"+id

        if(category == category1 ){
            if(subcategory == subcategory1 ){
                if(sex==sex1){
                if(size1=='S'){

                    if(sex1 == 'F'){
                        document.querySelector(sf).innerHTML = stock
                    }
                    else if(sex1 == 'M'){
                        document.querySelector(sm).innerHTML = stock
                    }
                }
                else if(size1=='M'){

                    if(sex1 == 'F'){
                        document.querySelector(mf).innerHTML = stock
                    }
                    else if(sex1 == 'M'){
                        document.querySelector(mm).innerHTML = stock
                    }

                }
                else if(size1=='L'){
                    if(sex1 == 'F'){
                        document.querySelector(lf).innerHTML = stock
                    }
                    else if(sex1 == 'M'){
                        document.querySelector(lm).innerHTML = stock
                    }
                }
               else if(size1=='XL'){
                    if(sex1 == 'F'){
                        document.querySelector(xlf).innerHTML = stock
                    }
                    else if(sex1 == 'M'){
                        document.querySelector(xlm).innerHTML = stock
                    }

                }
               else if(size1=='2XL'){
                    if(sex1 == 'F'){
                        document.querySelector(xl2f).innerHTML = stock
                    }
                    else if(sex1 == 'M'){
                        document.querySelector(xl2m).innerHTML = stock
                    }

                }

               else if(size1=='3XL'){
                    if(sex1 == 'F'){
                        document.querySelector(xl3f).innerHTML = stock
                    }
                    else if(sex1 == 'M'){
                        document.querySelector(xl3m).innerHTML = stock
                    }

                }

               else if(size1=='4XL'){
                    if(sex1 == 'F'){
                        document.querySelector(xl4f).innerHTML = stock
                    }
                    else if(sex1 == 'M'){
                        document.querySelector(xl4m).innerHTML = stock
                    }

                }


                }

            }


        }

    }

}
function category(){

}

function subcategory(){

}
function subcategory(){

}


</script>



{% endblock body %}

</body>

</html>
