{% extends 'dashboard/base.html' %}
{% load staticfiles %}


{% block body %}
<body>
  <section id="container">
    <!-- **********************************************************************************************************************************************************
        TOP BAR CONTENT & NOTIFICATIONS
        *********************************************************************************************************************************************************** -->
    <!--header start-->
{% include 'dashboard/header.html' %}
    <!--header end-->
    <!-- **********************************************************************************************************************************************************
        MAIN SIDEBAR MENU
        *********************************************************************************************************************************************************** -->
    <!--sidebar start-->
{% include 'dashboard/sidebar.html' %}
    <!--sidebar end-->
    <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
    <!--main content start-->
    <section id="main-content">
      <section class="wrapper">
        <div class="row">
          <div class="col-lg-12 main-chart">



          </div>
          <!-- /col-lg-9 END SECTION MIDDLE -->
          <!-- **********************************************************************************************************************************************************
              RIGHT SIDEBAR CONTENT
              *********************************************************************************************************************************************************** -->

        </div>
        <!-- /row -->


<div class="row">
            <div class="col-md-12">
            <div class="content-panel table-responsive">
              <table class="table table-striped table-advance table-hover">
                <h4>  Pending Ordered Delivery</h4>
                     <hr>
                <thead>
                  <tr>
                    <th> User</th>
                    <th> Address</th>
                    <th> Phone Number</th>

                    <th> Email</th>
                    <th> Id</th>
                    <th> Delivered</th>
                    <th> Paid</th>
                    <th> Date | Time</th>
                    <th> Change</th>
                    <th> Delete</th>






                  </tr>
                </thead>{% csrf_token %}
                <tbody id="tablebody">
                {% for i in qs %}
                  <tr class="post{{i.pk}}" name=''>
                    <td>
                      <a id="category{{i.pk}}">{{i.user.username}}</a>
                    </td>

                    <td>
                      <a id="{{i.pk}}" href="">{{i.address}} </a>
                    </td>
                    <td>
                      <a id="{{i.pk}}" href="">{{i.phone_number}} </a>
                    </td>

					<td>
					  <a id="{{i.pk}}" href="">{{i.email}} </a>
					</td>

					<td>
					  <a id="{{i.pk}}" href="{% url 'dashboard:order_delivery_details' i.id %}">{{i.order_id}} </a>
					</td>

					<td>
					<a id="{{i.pk}}" href="">{{i.delivered}} </a>
					</td>
					<td>
					<a id="{{i.pk}}" href="">{{i.paid}}</a>
					</td>

					<td>
					<a id="{{i.pk}}" href="">{{i.date}} | {{i.time}} </a>
					</td>



					<td style='display: none'>
					    <!--this will be triggered when the user clicks yes-->
					    <!--do not delete!!-->
					<a id="orderid{{i.id}}" href="{% url 'dashboard:order_pending_delivery_change' i.id %}" >Change </a>
					</td>

					<td>
					<a data-toggle="modal" data-target="#changemodal" onclick='getOrderId("{{i.id}}")' style='cursor: pointer'>Change </a>
					</td>

                    <td style='display: none'>
                        <!--this will be triggered when the user clicks yes-->
                        <!--do not delete!!-->
                    <a id="deleteorder{{i.pk}}" href="{% url 'dashboard:delete_order' i.id %}">Delete </a>
                    </td>

                    <td>
                    <a id="{{i.pk}}" data-toggle="modal" data-target="#deletemodal" onclick='getOrderId2("{{i.id}}")' style='cursor: pointer'>Delete </a>
                    </td>





                  </tr>

                {% endfor %}
                </tbody>
              </table>


            </div>
            <!-- /content-panel -->
          </div>
          <!-- /col-md-12 -->
</div>
<!-- end of row -->









      </section>
    </section>
    <!--main content end-->

  </section>
  <!-- js placed at the end of the document so the pages load faster -->


  <!-- The Modal -->
  <div class="modal fade" id="changemodal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">ARE YOU SURE YOU WANT TO CHANGE?</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <span id='orderid'></span>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">NO</button>
          <button type="button" class="btn btn-success" data-dismiss="modal" onclick='changeOrderItem()'>YES</button>

        </div>

      </div>
    </div>
  </div>



  <!-- The Modal -->
  <div class="modal fade" id="deletemodal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">ARE YOU SURE YOU WANT TO DELETE?</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <span id='deleteorderid'></span>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">NO</button>
          <button type="button" class="btn btn-success" data-dismiss="modal" onclick='deleteOrderItem()'>YES</button>

        </div>

      </div>
    </div>
  </div>


<Script>
function changeOrderItem(){
    id = document.querySelector('#orderid').innerHTML
    id1 = '#orderid' + id
    qs = document.querySelector(id1).click();
}

function deleteOrderItem(){
    id = document.querySelector('#deleteorderid').innerHTML
    id1 = '#deleteorder' + id
    qs = document.querySelector(id1).click();
}

function getOrderId(id){
    document.querySelector('#orderid').innerHTML = id
}

function getOrderId2(id){
    document.querySelector('#deleteorderid').innerHTML = id
}

</Script>



{% endblock body %}

</body>

</html>
