   {% load staticfiles %}
    <aside>
      <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
          <p class="centered"><a href=""><img src="{% static 'administrator/img/fr-05.jpg' %}" class="img-circle" width="80"></a></p>
          <h5 class="centered">{{request.user.username}}</h5>
          <li class="mt">
            <a class="" href="{% url 'dashboard:dashboard' %}">
              <i class="fa fa-dashboard"></i>
              <span>Dashboard</span>
              </a>
          </li>


            <li>
          <span><form method="post" action="{% url 'dashboard:search_order_id' %}">{% csrf_token %}
          <input type="text" class="form-control" name="order_id" value='' placeholder= 'search order id' >
            <input type="submit" name="" value="submit" class="btn btn-success btn-sm">
          </form>  </span>

          </li>

          <li>
            <a href="{% url 'dashboard:ordered_delivery' %}">
              <i class="fa fa-list-alt"></i>
              <span>Pending Ordered Items </span>

              <span class="label label-theme pull-right mail-info"></span>
              </a>
          </li>

         <li>
            <a href="{% url 'dashboard:category' %}">
              <i class="fa fa-list-alt"></i>
              <span>CATEGORIES </span>

              <span class="label label-theme pull-right mail-info"></span>
              </a>
          </li>





          <li>
            <a href="{% url 'dashboard:subcategory' %}">
              <i class="fa fa-list-alt"></i>
              <span>SUBCATEGORIES </span>

              <span class="label label-theme pull-right mail-info"></span>
              </a>
          </li>



                               <li class="dropdown" style=''>
                                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                <i class='fa fa-caret-down'></i> <span>REPORT SOLD</span>
                                </a>
                                <div class="dropdown-menu" style='font-size:6px'>

                                <a class="dropdown-item" href="{% url 'dashboard:todaysreportsold' %}" style='margin-bottom:-23px;'>Daily Report Sold</a>
                                <a class="dropdown-item" href="{% url 'dashboard:weeklyreportsold' %}" style='margin-bottom:-23px;'>Weekly Report Sold</a>
                                <a class="dropdown-item" href="{% url 'dashboard:monthlyreportsold' %}" style='margin-bottom:-23px;'>Monthly Report Sold</a>
                                <a class="dropdown-item" href="{% url 'dashboard:yearlyreportsold' %}" style='margin-bottom:-23px;'>Yearly Report Sold</a>

                                </div>
                                </li>


                               <li class="dropdown" style=''>
                                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                <i class='fa fa-caret-down'></i> <span>REPORT ORDERED</span>
                                </a>
                                <div class="dropdown-menu" style='font-size:6px'>

                                <a class="dropdown-item" href="{% url 'dashboard:todaysreportorder' %}" style='margin-bottom:-23px;'>Daily Report Ordered</a>
                                <a class="dropdown-item" href="{% url 'dashboard:todaysreportsold' %}" style='margin-bottom:-23px;'>Daily Report Sold</a>

                                <a class="dropdown-item" href="{% url 'dashboard:weeklyreportorder' %}" style='margin-bottom:-23px;'>Weekly Report Ordered</a>
                                <a class="dropdown-item" href="{% url 'dashboard:monthlyreportorder' %}" style='margin-bottom:-23px;'>Monthly Report Ordered</a>
                                <a class="dropdown-item" href="{% url 'dashboard:yearlyreportorder' %}" style='margin-bottom:-23px;'>Yearly Report Ordered</a>

                                </div>
                                </li>

            <li> <a href="{% url 'administrator:dailyreport' %}"><i class="fa fa-calendar-alt"></i>Daily Report</li></a>


            <li>
          <span><form method="post" action="{% url 'dashboard:filter_sold' %}">{% csrf_token %}
          <input type="text" class="form-control" name="date" placeholder="" value='{{date}}'>
            <input type="submit" name="" value="submit" class="btn btn-success btn-sm">
          </form>  </span>

          </li>


        </ul>
        <!-- sidebar menu end-->
      </div>
    </aside>


<script src="{% static 'administrator/js/fetch.js' %}"></script>