{% extends 'index/base.html' %}
{% load staticfiles %}
{% block body %}


        <!--Featured products start-->
        <section class="pd-t--40 pd-b--40">
            <!--Scroll header start-->
            <div class="row align-content-center justify-content-between">
                <div class="col-7">
                   {{detail.name}}
                </div>
                <div class="col-3 col-md-1 d-flex justify-content-between">
                    Filter
                    <a href="" class="anchor--dark" id="featuredNavRight" data-toggle="modal"
                        data-target="#filterModal">
                        <i data-feather="filter"></i>
                    </a>
                </div>
            </div>
            <hr>
            <div class="row pd--10">

              {% for i in list_item %}

                <a href="{% url 'home:detail' i.id %}" class="col-5 col-md-2 d-block bg-white rounded-lg p-0 mx-1 anchor--dark">
                    <img src="{{i.image.url}}" class="img-fluid" alt="jean_trousers">
                    <span class="d-block text-center text-capitalize p-1">
                        {{i.category}} {{i.subcategory}} <br>
                        {{i.category.unisex}}
                    </span>
                    <!--Star Rating Start-->
                    <div class="d-flex justify-content-center" title="5 star rating">
                        <span class="d-inline-block mx-1 text-warning ">
                            <i data-feather="star" width="14" height="14"></i>
                        </span>
                        <span class="d-inline-block mx-1 text-warning ">
                            <i data-feather="star" width="14" height="14"></i>
                        </span>
                        <span class="d-inline-block mx-1 text-warning ">
                            <i data-feather="star" width="14" height="14"></i>
                        </span>
                        <span class="d-inline-block mx-1 text-warning ">
                            <i data-feather="star" width="14" height="14"></i>
                        </span>
                        <span class="d-inline-block mx-1 text-warning">
                            <i data-feather="star" width="14" height="14"></i>
                        </span>
                    </div>
                    <!--Star Rating end-->
                    <!--Rating start-->
                    <div class="d-flex justify-content-center align-items-center">
                        <span href="#" class="d-inline-block m-2" title="Add to Favourite">
                            <i data-feather="heart" width="18" height="18"></i>
                        </span>
                        <span href="#" class="d-inline-block m-2" title="Add to Cart">
                            <i data-feather="shopping-cart" width="18" height="18"></i>
                        </span>
                    </div>
                    <!--Rating End-->
                </a>
                {% endfor %}

            </div>
            <!--Scroll header end-->

            <!--Start Load button-->
            <div class="my-3">
                <button class="btn btn-block btn-outline-primary">
                    Load More
                </button>
            </div>
            <!--End Load button-->
        </section>

{% endblock %}