{% extends 'Administrator/base.html' %}
{% load staticfiles %}
{% block body %}
<style>
  .full-screen{
    width: 80%;
    height: 80%;
    margin-left: 40;
    top: 0;
    left: 0;

  }



@media only screen and (max-width: 768px) {
#plan_img{
display: none;
}
#post_img1{
display: none;
}
#plan_text{
display: none;
}
#post_text{
display: none;
}

}

.green{
  color: green;
}




</style>

<body>



  <section id="container">
    <!-- **********************************************************************************************************************************************************
        TOP BAR CONTENT & NOTIFICATIONS
        *********************************************************************************************************************************************************** -->

    <!-- **********************************************************************************************************************************************************
        MAIN SIDEBAR MENU
        *********************************************************************************************************************************************************** -->
    <!--sidebar start-->
    <aside>

{% include 'Administrator/header.html' %}
{% include 'Administrator/sidebar.html' %}
    </aside>
    <!--sidebar end-->
    <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
    <!--main content start-->
    <section id="main-content">
      <section class="wrapper">

        <div class="row mt">
          <div class="col-md-12">
            <div class="content-panel">
            <div class="table-responsive">
              <table class="table table-striped table-advance table-hover">
                <h4>  Cart</h4>
                <p>Total Items: <span class="badge cart_total1" id="cart_total1">{{context_cart}}</span></p>
                 <p>Total Price: <span class="badge cart_price">{{total_price}}</span></p>
                <hr>
                <thead>
                  <tr>
                    <th><i class="fa fa-list-alt"></i> S/N</th>
                     <th><i class="fa fa-list-alt"></i> Category</th>
                    <th><i class="fa fa-list-alt"></i> SubCategory</th>

                    <th class=""><i class="fa fa-calendar"></i> Sex</th>
                    <th class=""><i class="fa fa-calendar"></i> Size</th>

                    <th><i class="fa fa-credit-card"></i>Single Price</th>

                    <th><i class=" fa fa-edit"></i> Qty</th>
					<th><i class=" fa fa-card"></i> Total Price</th>

                    <th><i class=" fa fa-edit"></i> Remove</th>
                    <th></th>
                  </tr>
                </thead>{% csrf_token %}
                <tbody>
                {% for i in qs %}
                  <tr class="post{{i.pk}}" name=>
                    <td>
                      <a >{{forloop.counter}}</a>
                    </td>
                    <td>
                      <a data-toggle="modal" data-target="#myModal" id="{{i.pk}}" onclick="viewDetails(this.id)">{{i.category}}</a>
                    </td>

                    <td>
                      <a data-toggle="modal" data-target="#myModal" id="{{i.pk}}" onclick="viewDetails(this.id)">{{i.subcategory}}</a>
                    </td>

                    <td>
                      {{i.sex}}
                    </td>

                    <td>
                      {{i.size}}
                    </td>


                    <td><span id="single_price{{i.pk}}">{{i.single_price}}</span> </td>

                    <td>
                    <div class="form-group row">
                    <div class="col-md-3">
                    <input class="form-control" type="text" name="" value="{{i.qty}}" id="qt{{i.product_id}}">
                    <button class="btn btn-default" id="qty{{i.id}}" onclick="editcartFunction({{i.product_id}}, {{i.id}})">Update <img style="display: none;" id="editimg{{i.id}}" src="{% static 'images/gif.gif' %}"></button>
                    </div>
                    </div>
                    </td>
                    <td> <span id="price{{i.id}}"> {{i.price}} </span></td>
                    <td id="td{{i.pk}}">

                      <a href='{% url 'administrator:deletecart' i.id i.product_id %}'> <button class="btn btn-danger btn-sm" id={{i.pk}} ><i class="fa fa-shop "></i>Delete <img style="display: none;" id="img{{i.pk}}" src="{% static 'images/gif.gif' %}"> </button></a>
                    </td>
                  </tr>

{% endfor %}
                </tbody>
              </table>
              </div>


        <div class="form-group row">
        <form action='{% url 'administrator:pay' %}' method='post'> {% csrf_token %}
        <div class='col-md-3'>
        <label for="">PAYMENT OPTION</label>
        <select class="form-control" id="" name='paymentoption'>
        <option>Cash</option>
        <option>Card</option>
        <option>Transfer</option>
        </select>
          <br>
         <button type='submit' class="btn btn-success">Print Receipt</button>

        </div>

        </form>

        </div>


            </div>






          </div>
          <!-- /col-md-12 -->


            <!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog full-screen">
    <div class="modal-content">
   <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Post Details</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <!-- Modal body -->
      <div class="modal-body">








      </div>

      <!-- Modal footer -->
      <div class="modal-footer">

      <!--   <button type="button" class="btn btn-primary pk" id="" data-dismiss="modal">Delete</button> -->
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div> <!-- end of modal -->




        </div>
        <!-- /row -->







      </section>
    </section>
    <!-- /MAIN CONTENT -->
    <!--main content end-->

</body>
{% endblock %}