   {% load staticfiles %}
    <aside>
      <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
          <p class="centered"><a href=""><img src="{% static 'administrator/img/fr-05.jpg' %}" class="img-circle" width="80"></a></p>
          <h5 class="centered">{{request.user.username}}</h5>
          <li class="mt">
            <a class="" href="{% url 'administrator:administrator' %}">
              <i class="fa fa-dashboard"></i>
              <span>Dashboard</span>
              </a>
          </li>


          <li>
            <a href="{% url 'administrator:category' %}">
              <i class="fa fa-list-alt"></i>
              <span>CATEGORIES </span>

              <span class="label label-theme pull-right mail-info"></span>
              </a>
          </li>


          <li>
            <a href="{% url 'administrator:subcategory' %}">
              <i class="fa fa-list-alt"></i>
              <span>SUBCATEGORIES </span>

              <span class="label label-theme pull-right mail-info"></span>
              </a>
          </li>


        <!--<li class="">-->
        <!--<a class="" href="{% url 'administrator:home' %}">-->
        <!--<i class="fa fa-home"></i>-->
        <!--<span>Home</span>-->
        <!--</a>-->
        <!--</li>-->




          <li>
            <a href="{% url 'administrator:products' %}">
              <i class="fa fa-product-hunt"></i>
              <span>PRODUCTS </span>

              <span class="label label-theme pull-right mail-info"></span>
              </a>
          </li>
                                <li class="dropdown" style=''>
                                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                <i class='fa fa-caret-down'></i> <span>REPORT</span>
                                </a>
                                <div class="dropdown-menu" style='font-size:11px'>

                                <a class="dropdown-item" href="{% url 'administrator:todaysreport' %}">Daily Report</a>
                                <a class="dropdown-item" href="{% url 'administrator:weeklyreport' %}">Weekly Report</a>
                                <a class="dropdown-item" href="{% url 'administrator:monthlyreport' %}">Monthly Report</a>
                                <a class="dropdown-item" href="{% url 'administrator:yearlyreport' %}">Yearly Report</a>
                                <a class="dropdown-item" href="{% url 'administrator:comparereport' %}">Compare Report</a>

                                </div>
                                </li>

          <li>
          <a href="{% url 'administrator:cart' %}">
          <i class="fa fa-shopping-cart"></i>
          <span>SELL  </span>

          <span class="label label-theme pull-right mail-info" id="cart_total">{{context_cart}}</span>
          <span class="label label-theme pull-right mail-info cart_price1" id="">{{total_price}}</span>

          </a>
          </li>

          <!--<li>-->
          <!--<a href="{% url 'administrator:mysales' %}">-->

          <!--<i class="fa fa-rss-square"></i>-->
          <!--<span>MY SALES  </span>-->

          <!--<span class="label label-theme pull-right mail-info" id="cart_total">{{sales_count}}</span>-->
          <!--<span class="label label-theme pull-right mail-info cart_price1" id="">{{sales_price}}</span>-->

          <!--</a>-->
          <!--</li>-->
          {% if request.user.username == 'cashier' %}

          {% else %}
            <li> <a href='{% url 'account:profile' %}'><i class="fa fa-user"></i>Profile</li></a>
            <li> <a href='{% url 'administrator:pettycash' %}'><i class="fa fa-info-circle"></i>Petty Cash</li></a>
            <li> <a href='{% url 'administrator:addpettycash' %}'><i class="fa fa-plus"></i>Add PettyCash</li></a>
        {% endif %}
          <li>
            </li>

            <li> <a href='{% url 'administrator:dailyreport' %}'><i class="fa fa-calendar-alt"></i>Daily Report</li></a>


            <li>


          <span><form method="post" action="{% url 'administrator:filtersales' %}">{% csrf_token %}
          <input type="text" class="form-control" name="date" placeholder="" value="{{date}}">
            <input type="submit" name="" value="submit" class="btn btn-success btn-sm">
          </form>  </span>


          </li>


          }



        </ul>
        <!-- sidebar menu end-->
      </div>
    </aside>


<script src="{% static 'administrator/js/fetch.js' %}"></script>