   {% load staticfiles %}
    <aside>
      <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion"> 
          <p class="centered"><a href=""><img src="{% static 'administrator/img/fr-05.jpg' %}" class="img-circle" width="80"></a></p>
          <h5 class="centered">{{request.user.username}}</h5>
          <li class="mt">
            <a class="" href="{% url 'administrator:administrator' %}">
              <i class="fa fa-dashboard"></i>
              <span>Dashboard</span>
              </a>
          </li>


        <li class="mt">
        <a class="" href="{% url 'administrator:administrator' %}">
        <i class="fa fa-home"></i>
        <span>Home</span>
        </a>
        </li>




          <li>
            <a href="{% url 'administrator:products' %}">
              <i class="fa fa-rss-square"></i>
              <span>PRODUCTS </span>

              <span class="label label-theme pull-right mail-info"></span>
              </a>
          </li>

          <li>
          <a href="{% url 'administrator:cart' %}">
          <i class="fa fa-rss-square"></i>
          <span>CART  </span>

          <span class="label label-theme pull-right mail-info" id="cart_total">{{context_cart}}</span>
          <span class="label label-theme pull-right mail-info cart_price1" id="">{{total_price}}</span>
          
          </a>
          </li> 

          <li>
          <a href="{% url 'administrator:mysales' %}">
          
          <i class="fa fa-rss-square"></i>
          <span>MY SALES  </span>

          <span class="label label-theme pull-right mail-info" id="cart_total">{{sales_count}}</span>
          <span class="label label-theme pull-right mail-info cart_price1" id="">{{sales_price}}</span>

          </a>
          </li>



        </ul>
        <!-- sidebar menu end-->
      </div>
    </aside>


<script src="{% static 'administrator/js/fetch.js' %}"></script>