{% extends 'index/base.html' %}
{% block body %}


        <!--Featured products start-->
        <section class="pd-t--40 pd-b--40">
            <!--Scroll header start-->
            <div class="text-center text-primary">
                    <i data-feather="check-circle" width="70" height="70"></i>
            </div>
            <h1 class="is-size--5 is-size-md-6 text-center">
                    Order sucessful
            </h1>
            <p class="text-center">
                    Thanks for shopping with us.<br> Your ref number is
            </p>
            <p class="text-center is-size--4" style="font-weight:600">
                    #{{orderproduct_id}}
            </p>
            <p class="text-center text-primary">
                    <a href="#">
                        <i data-feather="copy" width="20" height="20"></i>
                        copy number to clipboard
                    </a>
            </p>
            <div class="my-4 text-center">
                <a href="{% url 'home:home' %}" class="btn-primary btn">
                        Continue to shop
                </a>
            </div>

                
            <!--Scroll header end-->
        </section>

{% endblock %}